doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    nav
      a(href='/') Strona główna
      a(href='/przetargi') Lista przetargów
      a(href='/przetargi/zakonczone') Zakończone przetargi
      a(href='/przetargi/dodaj') Dodaj przetarg
  body
    block content
