extends layout

block content
  h1 System obsługi przetargów
  p System pozwala na ogłoszenie przetargów (zakładka Dodaj przetarg) przez dowolną instytucję.
  p W zakładce Lista przetargów znajdują się aktualnie trwające przetargi z możliwością zgłoszenia oferty wykonania, również przez dowolny podmiot.
  p Zakładka Zakończone przetargi pozwala przejrzeć minione przetargi i ich wynik.